
body{
background-color: #E0FFFF;
}
hr{
border-style:none;
border-top-style:dotted;
border-color:grey;
border-width:5px;
width:30px;
}
img{

}
h1{
	font-family:Georgia;
	color:#66BFBF;
}
p{
	font-family:Arial;
	font-size:14px;
}

